@media (min-width: 768px) {
    .aktivitet-form .column-2 {
        display: flex;
    }

    .aktivitet-form .column-left {
        margin-right: 1.5rem;
    }

    .aktivitet-form .column-right {
        margin-left: 1.5rem;
    }
}
