a, a:visited, a:hover, a:active {
    color: inherit;
}

.sidebarmenu {
    color: var(--main-color-text-faded);
    display: flex;
    flex-direction: column;
    min-width: 1.5rem;
    flex-grow: 1;
    padding-right: 2rem;
    margin-top: 3.68rem;
}
.sidebarmenu img {
    width: 1.5rem;
    height: 1.5rem;
    max-width: 100%;
    display: inline-block;
}

.sidebarmenu-item {
    display: flex;
    flex-direction: row;
    height: 3rem;
    cursor: pointer;
}
.sidebarmenu-item-title {
    display: none;
    height: 100%;
    margin-left: 0.5rem;
    vertical-align: top;
    font-family: var(--main-font-family);
    font-size: 0.9rem;
    font-weight: 600;
}

@media (min-width: 1245px) {
    .sidebarmenu {
    }
}
@media (min-width: 1495px) {
    .sidebarmenu-item-title {
        display: inline-block;
    }
}