a, a:visited, a:active {
    color: inherit;
}

.sidebarmenu {
    color: var(--main-text-color-black);
    display: flex;
    flex-direction: column;
    min-width: 1.5rem;
    padding-left: 2rem;
    padding-top: 1.2rem;
}

.sidebarmenu-title {
    color: var(--main-text-color-grey);
    font-size: 0.9rem;
    font-weight: 600;
}

.sidebarmenu-item:hover,
.sidebarmenu-item.active {
    filter: var(--main-color-blue-filter);
}
.sidebarmenu img {
    fill: inherit;
    opacity: inherit;
    width: 1.3rem;
    height: 1.3rem;
    max-width: 100%;
    display: inline-block;
}

.sidebarmenu img:hover {
    filter: inherit;
}

.sidebarmenu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    cursor: pointer;
    text-decoration: none;
}
.sidebarmenu-item-title {
    margin-left: 1.3rem;
    margin-top: 0.1rem;
    vertical-align: top;
    font-family: var(--main-font-family);
    color: var(--main-color-text-faded);
    font-size: 0.9rem;
    font-weight: 600;
}

@media (min-width: 1245px) {
    .sidebarmenu {
    }
}
@media (min-width: 1495px) {
    .sidebarmenu-item-title {
        display: inline-block;
    }
}