@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap');

:root {
    --main-font-family: 'Open Sans', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --main-text-font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--main-font-family);
    font-weight: var(--main-text-font-weight);
    color: var(--main-text-color-black);
    margin: 0;
}

.content-text {
    font-size: 1.1rem;
    font-weight: var(--main-text-font-weight);
    margin-bottom: 1rem;
}

h1 {
    color: var(--main-color-black);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.25rem 0;
}

h2 {
    font-family: var(--main-font-family);
    color: var(--main-text-color-black);
    font-size: 1.1rem;
    font-weight: 600;
}

h4 {
    font-family: var(--main-font-family);
    font-size: 0.9rem;
    font-weight: 600;
}

h5 {
    font-family: var(--main-font-family);
    font-size: 1rem;
    font-weight: var(--main-text-font-weight);
}

h6 {
    font-family: var(--main-font-family);
    font-size: 0.9rem;
    font-weight: 600;
}

p {
    margin: 0;
    font-size: 0.95rem;
    font-weight: 500;
}
