.helpvideos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
}


.video-thumb-container {
    width: 100%;
}
@media(min-width:768px) {

    .video-thumb-container {
        width: calc(50% - 1rem);
    }
}
@media(min-width: 1024px) {

    .video-thumb-container {
        width: calc(33% - 2rem);
    }
}