footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    max-width: 108rem; /** Match width for content */
}

.align-center {
    text-align: center;

}