.list-element {
    width: 100%;
}

.list-element > * {
    padding: 1rem;
    border-bottom: 1px solid var(--main-border-color-faded);
    justify-content: space-between;
    align-items: center;
}

.list-element:last-child > * {
    border-bottom: none;
}
