@media (min-width: 768px) {
    .column-2 {
        display: flex;
    }

    .column-left {
        margin-right: 1rem;
    }

    .column-right {
        margin-left: 1rem;
    }
}
@media (min-width: 1280px) {
    .aktiviteter-form .form-container {
        display: flex;
    }

    .aktiviteter-form__generelt {
        flex: 60%;
    }

    .aktiviteter-form__handlinger {
        flex: 40%;
        margin-left: 3.5rem;
    }
}
