.login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    flex-grow: 1;
    max-width: 1024px;
}

.login-card {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
}

.login-card-illustration {
    width: 100%;
    height: inherit;
    flex-grow: 0;
    background: no-repeat center center;

}
.login-card-content {
    flex-grow: 1;
    margin: 2rem;
}
.login-card-main {
    display: flex;
    flex-direction: column;
}

.login-card label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.login-card input {
    margin-bottom: 1.5rem;
    height: 50px;
}

button {
    height: 50px;
    border: 1px solid #02A28A;
    background-color: #027C69;
    color: #FFFFFF;
    font-family: var(--main-font-family);
    font-size: 1rem;
}