body {
    margin: 0;
    background-color: #edf2f9;
    font-family: var(--main-font-family)
}

.container {
    display: flex;
    margin: auto;
    max-width: 1141px;
}

.content {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.left-content {
    display: flex;
    justify-self: flex-start;
}

.right-content {
    display: flex;
    justify-self: flex-end;
}
.center-content {
    display: flex;
    justify-self: center;
}