body {
    margin: 0;
    background-color: #edf2f9;
    font-family: var(--main-font-family)
}

.container {
    display: flex;
    margin: auto;
    max-width: 105rem;
}

.content {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    max-width: 104rem;
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-gap: 2rem;
    gap: 2rem;
}

.site-content {
    margin: 1.4rem 2rem;
}

.main-content {
    flex-grow: 0;
    width: 100%;
}
.left-content {
    display: flex;
    justify-self: flex-start;
}

.right-content {
    display: flex;
    justify-self: flex-end;
}
.center-content {
    display: flex;
    justify-self: center;
    align-items: center;
}

.x-auto {
    margin-left: auto;
    margin-right: auto;
}
.y-auto {
    margin-top: auto;
    margin-bottom: auto;
}