.pie-chart .recharts-legend-item {
    margin-right: 1rem !important;
    margin-left: 0.5rem !important;
}

.recharts-legend-item-text {
    color: var(--main-text-color-black) !important;
    font-family: var(--main-font-family) !important;
}